<div class="light-font">
    <ol class="breadcrumb primary-color">
        <li class="breadcrumb-item active">University Home</li>
    </ol>
</div>
<div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
    <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
        <div class="py-5">
            <h5 class="red-text darken-4"><i class="fa fa-desktop"></i> For Universities</h5>
            <h3 class="card-title pt-2"><strong>Decentralized Degrees</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!.</p>
            <a class="btn btn-deep-purple waves-light" routerLink="./addNewDegree" mdbRippleRadius><i class="fa fa-clone left"></i> Add New Degree</a>
            <a class="btn btn-deep-purple waves-light" routerLink="./degrees" mdbRippleRadius><i class="fa fa-clone left"></i> View All Degrees</a>
        </div>
    </div>
</div>
