.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-bottombar {
  padding-left: 2rem;
  padding-right: 2rem;
  background: #ececec;;
}

.toolbar-button-padding {
  padding-left: 0.5rem;
}

.div-container {
  position: absolute;
  top: 64px;
}

.div-card {
  text-align: center;
}

.example-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

.example-card-small {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
