<mat-toolbar class="app-navbar" color="primary">
  <button mat-icon-button  (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>QualSure</span>
  <span class="example-fill-remaining-space"></span>
  <span><a routerLink="/university">University</a></span>
  <span class="toolbar-button-padding"><a routerLink="/verify">Verify</a></span>
</mat-toolbar>

<div class="div-container">
  <mat-sidenav-container>
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item routerLink="/university">University</a>
        <a mat-list-item routerLink="/verify">Verify</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="div-card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>CV of the Future</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="" alt="IMG">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="" alt="IMG">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="" alt="IMG">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <p *ngFor="let content of fillerContent">{{content}}</p>

      <div class="app-bottombar">
        <mat-grid-list cols="3" rowHeight="50px">
          <mat-grid-tile
              [colspan]="1"
              [rowspan]="1">
            <p>© QualSure</p>
          </mat-grid-tile>
          <mat-grid-tile
              [colspan]="1"
              [rowspan]="1">
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Contact</a>
          </mat-grid-tile>
          <mat-grid-tile
              [colspan]="1"
              [rowspan]="1">
            <a href="#">Facebook</a>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
